__pycache__/
_site/
*.py[cod]
Gemfile.lock
.idea/
Ace.xml

ignore_lists/
FFmpeg/
images/
_update/
_backup/

config.py

Blocked Waifus.txt
Blocked Users.txt
Blocked Words.txt
Warned Users.txt
sankakucomplex.txt
users_waifus.json
users_husbandos.json
count.ini

palette.png
