*.pyc
__pycache__

# Config files to ignore
*.txt
*.json
Configs/Logs/

# Baiscs
.idea/
tools/
images/
_backup/
Users/
scripts/
bot_settings.json
config.py
*.cookies
ffmpeg.exe
*.dll
main.py
config_example.py

# Twitter (Tython)
Reddit.py
Facebook.py