*.pyc
__pycache__

# Config files to ignore
*.txt
*.json
*.png
*.jpeg
*.jpg
Configs/Logs/

# Baiscs
cronjobs/
.idea/
tools/
images/
_backup/
Users/
scripts/
bot_settings.json
config.py
*.cookies
ffmpeg.exe
*.dll
main.py
config_example.py

*.ttc
# Twitter (Tython)
Reddit.py
Facebook.py
cronjobs/Clean Image Folders.py
