c:\python34\lib\site == packages\requests
c:\python34\lib\site == packages\robobrowser
c:\python34\lib\site == packages\tweepy
Pillow == 2.9.0
Requests == 2.7.0
robobrowser == 0.5.3
python-slugify
tweepy == 3.4.0
html5lib